<template name="account">
  <div class="container">
    <h1>Your nickname is {{nickname}}, aka {{first_name}} {{last_name}}! Welcome!</h1>
    
    <h2>Here is the data you gave to us.</h2>
    <table class="table table-bordered table-striped table-hover">
      <thead></thead>
      <tbody>
        <tr><td>email</td><td>{{email}}</td></tr>
        <tr><td>Phone Number</td><td>{{phone_number}}</td></tr>
        <tr><td>School</td><td>{{school}}</td></tr>
        <tr></tr>
      </tbody>
    </table>
    
  </div>
</template>
