<template name="add">

  <form class="form-inline">
    <label for="name">Name: </label>
    <input type="text" class="form-control" id="name" placeholder="Enter name here" />
  </form>

  <form class="form-inline">
    <label for="leader">Leader: </label>
    <input type="text" class="form-control" id="leader" placeholder="Enter leader name here" />
  </form>

  <form class="form-inline">
    <label for="description">Description: </label>
    <input type="text" class="form-control" id="description" placeholder="description" />
  </form>
  <button type="button" class="btn btn-large btn-primary btn-success">Submit</button>


</template>
