<template name="signup">
  <div class="container">
    <h1>Sign up for Expanding Your Horizons</h1>
    <form class="form-inline">
      <label for="nickname">Nickname: </label>
      <input type="text" class="form-control" id="nickname" placeholder="Enter nickname here" />
    </form>

    <form class="form-inline">
      <label for="first_name">First name: </label>
      <input type="text" class="form-control" id="first_name" placeholder="Angel" />
      <label for="last_name">Last name: </label>
      <input type="text" class="form-control" id="last_name" placeholder="Lim" />
    </form>

    <form class="form-inline">
      <label for="password1">Password: </label>
      <input type="text" class="form-control" id="password1" placeholder="asdfasdf" />
      <label for="password2">Re-enter password: </label>
      <input type="text" class="form-control" id="password2" placeholder="asdfasdf" />
    </form>

    <form class="form-inline">
      <label for="email">Email: </label>
      <input type="text" class="form-control" id="email" placeholder="toomanytypos@gmail.com" />
      <label for="phone_number">Phone number: </label>
      <input type="text" class="form-control" id="phone_number" placeholder="(909)-465-3242" />
    </form>

    <form class="form-inline">
      <label for="school">School: </label>
      <input type="text" class="form-control" id="school" placeholder="Skyline" />
    </form>

    {{#each workshop_entries}}
    <div class="checkbox">
      <label>
        <input id="box" type="checkbox" value="{{name}}">{{name}}
      </label>
    </div>
    {{/each}}

    <button type="button" class="btn btn-large btn-primary btn-success">Submit</button>
  </div>
</template>
