<template name="signup">
  <div class="container">
    <h1>Sign up for Expanding Your Horizons</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="nickname">Nickname </label>
          <input type="text" class="form-control" id="nickname" placeholder="Enter nickname here" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="first_name">First name </label>
          <input type="text" class="form-control" id="first_name" placeholder="Angel" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="last_name">Last name </label>
          <input type="text" class="form-control" id="last_name" placeholder="Lim" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="password1">Password </label>
          <input type="password" class="form-control" id="password1" placeholder="asdfasdf" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="password2">Re-enter password </label>
          <input type="password" class="form-control" id="password2" placeholder="asdfasdf" />
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="email">Email </label>
        <input type="email" class="form-control" id="email" placeholder="toomanytypos@gmail.com" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="phone_number">Phone number </label>
        <input type="text" class="form-control" id="phone_number" placeholder="(909)-465-3242" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="school">School </label>
        <input type="text" class="form-control" id="school" placeholder="Skyline" />
      </div>
    </div>


    {{#each workshop_entries}}
    <div class="checkbox">
      <label>
        <input id="box" type="checkbox" value="{{name}}">{{name}}
      </label>
    </div>
    {{/each}}

    <button type="button" class="btn btn-large btn-primary btn-success" onclick="location.href='/'">Submit</button>
  </div>
</template>
